/* Media queries for further fine-tuning (.text)*/
@media (max-width: 1182px) {
    .text{
        font-size: calc(2.3em + 1vw); /* Smaller text on smaller screens */
        top: 55%;
    }
    
}
@media (max-width: 980px) {
    .text{
        font-size: calc(1.3em + 1vw); /* Smaller text on smaller screens */

    }
    
}
@media (max-width: 780px) {
    .text {
        font-size: calc(1.5em + 1vw); /* Smaller text on smaller screens */
    }
}

@media (max-width: 580px) {
    .text {
        padding: 0.1em;  /* Adjust padding on very small screens */
        font-size: calc(0.3em + 1vw); /* Further reduce font size */
    }
}
@media (max-width: 910px) {
    .nav{
        display: none;
        transition: 700ms;
    }
    
}